:root {
  --space: 0;
  --theme-color-light: #e2e3e7;
  --theme-color-dark: #343538;
}
body {
  height: 100svh;
  width: 100vw;
  margin: 0;
  background: var(--theme-color-dark);
  color: var(--theme-color-light);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--theme-color-light);
    color: var(--theme-color-dark);
  }
}

.clock {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  gap: var(--space);
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 1;
  gap: var(--space);
  position: relative;
}
.row > div {
  flex-grow: 1;
  /* Keep border inside so it doesn't cause vertical scrolling of a single pixel */
  box-sizing: content-box;
  &:not(.second) {
    border-radius: var(--space);
  }
}
@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  .row > div {
    border: 1pt solid var(--theme-color-dark);
  }
}
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .row > div {
    border: 1pt solid var(--theme-color-light);
  }
}
.row-seconds {
  justify-content: center;
}
.row > div.second {
  aspect-ratio: 1;
  height: 100%;
  flex-grow: initial;
  border-radius: 50%;
}
.row > div.second.on {
  background: linear-gradient(79deg, #ffd047, #feb530);
}
.row-five-hours,
.row-one-hours {
  & > div.on {
    background: linear-gradient(79deg, #ff4747, #fe3030);
  }
}
.row-five-minutes,
.row-one-minutes {
  & > div.on {
    background: linear-gradient(79deg, #ffd047, #feb530);
  }
}
.row-five-minutes > div.on:nth-of-type(4n) {
  background: linear-gradient(79deg, #ff4747, #fe3030);
}
.row::after {
  display: block;
  position: absolute;
  top: 0px;
  right: 0.5em;
  font-size: 24px;
  opacity: 0;
  transition: ease-in-out 0.1s all;
}
.row:hover::after,
.help-on .row::after,
.help-on #time {
  opacity: 1;
}
.row-one-hours::after {
  content: "Each block is one hour";
}
.row-five-hours::after {
  content: "Each block is five hours";
}
.row-one-minutes::after {
  content: "Each block is one minute";
}
.row-five-minutes::after {
  content: "Each block is five minutes";
}
#help {
  position: absolute;
  top: 0;
  right: 0;
  & input[type="checkbox"]{
    accent-color: #ffd047;
  }
}

#time{
    text-align: center;
    position: absolute;
    top: 0;
    font-size: 2em;
    opacity: 0;
    transition: ease-in-out 0.1s opacity;
}